.footer {
  box-sizing: border-box;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #ffffff;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px 0 80px;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin: 0 0 16px;
  font-family: "Inter", "arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__social-heading {
  font-size: 16px;
  margin: 0 0 20px;
  font-family: "Inter", "arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
}

.footer__social-link {
  display: flex;
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  align-items: center;
  gap: 10px;
  transition: color 1s linear;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  align-items: center;
}

.footer__copyright {
  margin: 108px auto 0px 80px;
  padding-bottom: 60px;
  font-family: "Inter", "arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
