.form {
  max-width: 385px;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 0;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  height: 60px;
  border-radius: 4px;
  text-indent: 10px;
  border-color: #838383;
  border-width: 1px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button {
  background-color: #2f80ed;
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  height: 60px;
  border-radius: 4px;
  transition: opacity 0.5s;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: #ffffff;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  height: 20px;
  width: 20px;
}
